@import "tailwindcss";
@config "../../tailwind.config.ts";

@tailwind utilities;

@custom-variant vapor (&:where(.vapor, .vapor *));
@custom-variant soothing (&:where(.soothing, .soothing *));
@custom-variant gloomy (&:where(.gloomy, .gloomy *));
@custom-variant race (&:where(.race, .race *));
@custom-variant luxe (&:where(.luxe, .luxe *));

@layer utilities {
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .font-shadow {
        text-shadow: 1px 1px 150px var(--accent);
    }

    .hallow-stroke {
        -webkit-text-stroke: 1px var(--primary);
    }
}

@theme inline {
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
    :root {
        --font-inter: "Inter", sans-serif;
        --font-rubik: "Rubik", sans-serif;

        --radius: 0.625rem;

        --vapor-red: #a6263e;
        --vapor-dark-red: #8c2742;
        --vapor-blue: #326a8c;
        --vapor-dark-blue: #2e728c;
        --vapor-light-blue: #bde3f2;

        --gloomy-blue: #2e728c;
        --gloomy-dark-blue: #0b1c26;
        --gloomy-light-blue: #63caf2;
        --gloomy-teal: #79f2e6;
        --gloomy-muted-olive: #afd9ad;

        --race-leather-red: #a6212c;
        --race-leather-mocha: #734549;
        --race-bronze: #b38450;
        --race-red: #bf190a;
        --race-black: #0d0d0d;

        --soothing-olive: #4d5934;
        --soothing-muted-green: #9aa66f;
        --soothing-gray: #8f9ba6;
        --soothing-green: #b4bf5e;
        --soothing-lime: #babf30;

        --mono-dark-slate: #343133;
        --mono-slate: #a69e9d;
        --mono-gray: #e7e8e7;
        --mono-light-beige: #f4f3eb;
        --mono-white: #fefefe;

        --luxe-green: #033540;
        --luxe-red: #5f0d14;
        --luxe-gray: #d1c8c2;
        --luxe-light-gray: #dbdadb;
        --luxe-white: #f4f9fa;
        --luxe-black: #110022;
        --luxe-beige: #efdfc5;
        --luxe-yellow: #f2e7ac;
    }

    .vapor {
        --background: color-mix(in srgb, var(--vapor-dark-blue) 20%, black 80%);
        --foreground: white;
        --primary: var(--vapor-red);
        --primary-foreground: white;
        --secondary: var(--vapor-blue);
        --secondary-foreground: var(--vapor-light-blue);
        --muted: var(--vapor-dark-blue);
        --muted-foreground: var(--vapor-light-blue);
        --accent: var(--vapor-dark-blue);

        .pop-up-100 {
            @apply backdrop-brightness-125;
            box-shadow: 0 0 20px #ffffff20 !important;
            border: solid 1px
                color-mix(in srgb, var(--vapor-blue) 20%, transparent) !important;
        }

        .pop-up-200 {
            @apply backdrop-brightness-175;
            box-shadow: 0 0 20px #ffffff25 !important;
            border: solid 1px
                color-mix(in srgb, var(--vapor-blue) 30%, transparent) !important;
        }
    }

    .gloomy {
        --background: color-mix(
            in srgb,
            var(--gloomy-light-blue) 10%,
            black 90%
        );
        --foreground: color-mix(in srgb, var(--gloomy-teal) 15%, white 85%);
        --primary: var(--gloomy-blue);
        --primary-foreground: white;
        --secondary: var(--gloomy-muted-olive);
        --secondary-foreground: var(--gloomy-teal);
        --muted: var(--gloomy-dark-blue);
        --muted-foreground: var(--gloomy-light-blue);
        --accent: var(--gloomy-light-blue);

        .pop-up-100 {
            @apply backdrop-brightness-150;
            box-shadow: 0 0 20px #ffffff20 !important;
            border: solid 1px
                color-mix(in srgb, var(--gloomy-blue) 20%, transparent) !important;
        }

        .pop-up-200 {
            @apply backdrop-brightness-200;
            box-shadow: 0 0 20px #ffffff25 !important;
            border: solid 1px
                color-mix(in srgb, var(--gloomy-blue) 30%, transparent) !important;
        }
    }

    .race {
        --background: color-mix(in srgb, var(--race-red) 8%, black 92%);
        --foreground: color-mix(in srgb, var(--race-bronze) 15%, white 85%);
        --primary: var(--race-bronze);
        --primary-foreground: white;
        --secondary: var(--race-leather-red);
        --secondary-foreground: var(--race-leather-mocha);
        --muted: var(--race-black);
        --muted-foreground: var(--race-leather-mocha);
        --accent: var(--race-leather-mocha);

        .pop-up-100 {
            @apply backdrop-brightness-200;
            box-shadow: 0 0 20px #ffffff20 !important;
            border: solid 1px
                color-mix(in srgb, var(--race-bronze) 20%, transparent) !important;
        }

        .pop-up-200 {
            @apply backdrop-brightness-300;
            box-shadow: 0 0 20px #ffffff25 !important;
            border: solid 1px
                color-mix(in srgb, var(--race-bronze) 30%, transparent) !important;
        }
    }

    .soothing {
        --background: color-mix(in srgb, var(--soothing-gray) 30%, white 70%);
        --foreground: black;
        --primary: var(--soothing-olive);
        --primary-foreground: white;
        --secondary: var(--soothing-green);
        --secondary-foreground: color-mix(
            in srgb,
            var(--soothing-olive) 15%,
            var(--soothing-lime) 75%
        );
        --muted: var(--soothing-gray);
        --muted-foreground: var(--soothing-muted-green);
        --accent: var(--soothing-lime);

        .pop-up-100 {
            @apply backdrop-brightness-105;
            box-shadow: 0 0 20px #00000020 !important;
            border: solid 1px #fff2 !important;
        }

        .pop-up-200 {
            @apply backdrop-brightness-110;
            box-shadow: 0 0 20px #00000035 !important;
            border: solid 1px #fff3 !important;
        }
    }

    .mono {
        --background: var(--mono-white);
        --foreground: var(--mono-dark-slate);
        --primary: var(--mono-slate);
        --primary-foreground: var(--mono-white);
        --secondary: var(--mono-light-beige);
        --secondary-foreground: var(--mono-gray);
        --muted: var(--mono-slate);
        --muted-foreground: var(--mono-gray);
        --accent: var(--mono-slate);

        .pop-up-100 {
            @apply backdrop-brightness-95;
            box-shadow: 0 0 20px
                color-mix(in srgb, var(--mono-dark-slate) 20%, transparent) !important;
            border: solid 1px
                color-mix(in srgb, var(--mono-slate) 10%, transparent) !important;
        }

        .pop-up-200 {
            @apply backdrop-brightness-90;
            box-shadow: 0 0 20px
                color-mix(in srgb, var(--mono-dark-slate) 20%, transparent) !important;
            border: solid 1px
                color-mix(in srgb, var(--mono-slate) 10%, transparent) !important;
        }
    }

    .luxe {
        --background: var(--luxe-white);
        --foreground: var(--luxe-black);
        --primary: var(--luxe-red);
        --primary-foreground: var(--luxe-white);
        --secondary: var(--luxe-green);
        --secondary-foreground: var(--luxe-yellow);
        --muted: var(--luxe-gray);
        --muted-foreground: var(--luxe-light-gray);
        --accent: var(--luxe-beige);

        .pop-up-100 {
            @apply backdrop-brightness-95;
            box-shadow: 0 0 20px
                color-mix(in srgb, var(--luxe-green) 20%, transparent) !important;
            border: solid 1px
                color-mix(in srgb, var(--luxe-green) 5%, transparent) !important;
        }

        .pop-up-200 {
            @apply backdrop-brightness-90;
            box-shadow: 0 0 20px
                color-mix(in srgb, var(--luxe-green) 20%, transparent) !important;
            border: solid 1px
                color-mix(in srgb, var(--luxe-green) 5%, transparent) !important;
        }
    }

    * {
        @apply border-border outline-ring/50;
    }

    body {
        @apply bg-background text-foreground;
    }
}
